.container {
  max-width: 1650px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: rgba(241, 206, 142, 0.467);
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  color: #000;
  border-bottom: 7px solid #E4B04B;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

/* --------------------------------------------------- */

.header {
  margin-top: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo {
  padding: 20px 0;
  margin-right: 70px;
}

.header__nav-list {
  display: flex;
  font-size: 32px;
}

.header__nav-item {
  padding: 5px;
  margin-right: 90px;
  background-color: #fff;
  border: 1px solid #E4B04B;
  border-radius: 10px;
  box-shadow: 1px 5px 4px #E4B04B;
}

.profile {
  position: relative;
  display: inline-block;
}

#profile__img {
  max-width: 110px;
  border: 3px solid #ffffffb6;
  border-radius: 50%;
}

.profile__list {
  display: none;
  position: absolute;
  padding: 3px;
  font-size: 20px;
  top: 96px;
  right: 1px;
  background-color: #fbebc4;
  border: 3px solid #E4B04B;
  box-shadow: 2px 3px 5px #E4B04B;
  z-index: 1;
  list-style-type: none;
}

.profile:hover .profile__list {
  display: block;
}

.profile__sign-link {
  margin: 5px;
  padding: 10px;
  background-color: #f9d999e7;
  box-shadow: 2px 3px 3px #654f225b;
  color: #000;
}

.profile__sign-link:first-child {
  margin-top: 0px;
}

/* ---------------FOOTER---------------- */
.container_footer {
  background-color: #7e632b;
}

.footer_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 20px;
  color: #e6d5b2;
}

.footer__colums-heading {
  margin-bottom: 10px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
}

/* ---------media------------ */
@media (max-width:992px) {
  .header__nav {
    flex-direction: column;
    row-gap: 20px;
  }
  .header__nav-list {
    font-size: 32px;
    
  }
}

@media (max-width: 767px) {
  .header__nav {
    flex-direction: column;
    row-gap: 20px;
  }
  .header__nav-list {
    font-size: 24px;
    column-gap: 15px;
  }

  .header__nav-item {
    margin: 0;
  }

  .footer_main {
    font-size: 12px;
  }

}

@media (max-width: 480px) {
  .header__nav {
    flex-direction: column;
    row-gap: 20px;
  }
  
  .header__logo {
    margin-right: 20px;
  }

  #logo {
    width: 280px;
  }

  .header__nav-list {
    font-size: 20px;
    column-gap: 15px;
  }

  .footer_main {
    padding: 0;
    font-size: 12px;
  }
}