:root {
  --color-blocks: #fff;
  --color-search: #EAC377;
}


#warning {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.79);
}

.warning__block {
  display: flex;
  position: fixed;
  width: 50vw;
  height: 35vh;
  background-color: rgb(227, 220, 220);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px rgb(191, 137, 38) solid;
  border-radius: 8%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 40px;
}

.warning__text {
  display: block;
  padding: 20px;
}

.warning__text--hidden {
  display: none;
  font-size: 35px;
  padding: 20px;
}

.warning__cont {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.warning__cont-button {
  font-size: 34px;
  width: 120px;
  margin-bottom: 30px;
  background-color: rgba(183, 60, 60, 0.942);
  color: white;

}

.warning__cont-button:first-child {
  background-color: rgba(67, 205, 67, 0.792);
  color: black;
}

/* -------------------ASIDE------------------------ */

.container_main {
  min-height: 700px;
}

.content__block {
  display: flex;
}

.search {
  position: relative;
  min-width: 400px;
  max-height: 100%;
  border-right: 8px solid #E4B04B;
}

.search__block {
  position: fixed;
  margin: 39px 25px;
  max-width: 320px;
  height: 300px;
  font-size: 24px;
  padding: 15px 20px;
  border: 5px solid #E4B04B;
  border-radius: 20px;
  background-color: var(--color-search);
}

#searchInput {
  height: 23px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 6px;
}

/*--------------cocktailS----------------*/

.cocktails {
  width: 100%;
}

.cocktails__content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cocktails__block {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 190px 1fr;
  column-gap: 10px;
  row-gap: 10px;
  width: 490px;
  height: 350px;
  margin: 30px 0px;
  background-color: var(--color-blocks);
  border: 5px solid #E4B04B;
  border-radius: 20px;
  box-shadow: 3px 5px 8px #E4B04B;
  transition: all 0.7s;

}

.cocktails__block:hover {
  transform: scale(1.1);
  box-shadow: 15px 12px 11px #7e632b;
}

.cocktails__block-image {
  grid-row: 1/4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.cocktails__name {
  font-size: 32px;
  align-self: center;
}

.cocktails__about {
  font-size: 20px;
}

.favorite {
  justify-self: end;
  margin-right: 20px;
}

#show-more {
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 30px;
  background-color: #f9c04ee6;
  border: 3px solid #F9BF4E;
}

/* ---------media------------ */

@media (max-width:992px) {
  .content__block {
    flex-direction: column;
  }

  .search {
    border: 0;
  }

  .search__block {
    position: relative;
    max-width: 80%;
    height: auto;
    margin: 20px auto;
    padding: 20px 100px;
  }

  #searchInput {
    width: 250px;
    font-size: 24px
  }
}

@media (max-width:768px) {
  .content__block {
    flex-direction: column;
  }

  .search {
    border: 0;
  }

  .search__block {
    position: relative;
    max-width: 80%;
    height: auto;
    margin: 20px auto;
  }
}

@media (max-width: 480px) {
  .search {
    min-width: 0;
  }

  #searchInput {
    width: 100px;
  }

  .cocktails__block {
    grid-template-columns: 130px 1fr;
    grid-template-rows: 50px 170px 1fr;
    height: 280px;
    width: 300px;
    font-size: 10px;
  }

  .cocktails__name {
    font-size: 20px;
  }

  .cocktails__about {
    font-size: 16px;
  }
}